# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\USER\OneDrive\Desktop\DSA Implementations\Individual Assignment\programming-assignment-3-missing-soldiers-Sammyiel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
